@font-face {
  font-family: "Game Of Squids";
  src: url("../assets/fonts/GameOfSquids.eot");
  src: url("../assets/fonts/GameOfSquids.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/GameOfSquids.woff2") format("woff2"), url("../assets/fonts/GameOfSquids.woff") format("woff"),
    url("../assets/fonts/GameOfSquids.ttf") format("truetype"),
    url("../assets/fonts/GameOfSquids.svg#GameOfSquids") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
