.container {
  width: 100vw;
  background-color: black;
}

h1 {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url("../../assets/img/back.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  color: transparent;
  opacity: 0;
}
